
* {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 14px;
}

a {
    text-decoration: none
}

/* purgecss start ignore */
figure.image {
    margin: 10px 0;
    display: inline-block;
}

figcaption {
    background: #f5f5f5;
    padding: 10px;
    font-size: 90%;
    text-align: center;
}

/* purgecss end ignore */
.post-info > .col-12 {
    padding: 10px 10px 10px 20px;
}

.border-radius-3 {
    border-radius: 3px;
}

.post-info table tr td {
    padding: 5px 20px 5px 0;
}

/*.content-post.active {*/
/*    height: unset;*/
/*}*/

/*.content-post {*/
/*    height: 200px;*/
/*    overflow: hidden;*/
/*}*/
